.product__card {
  position: relative;
  max-width: 236px;
  min-height: 359px;
  height: min-content;
  padding: 5px;
  margin-bottom: 40px;
}

.product__card:hover {
    box-shadow: 0px 4px 8px 2px rgba(64, 64, 64, 0.2);
    transition: all 0.05s;
}

.product__card__like {
    position: absolute;
    right: 0;
    cursor: pointer;
	background: none;
	border: none;
    fill: none;
    stroke: #1a1a1a;
}

.product__card__like_active {
    fill: red;
    stroke: red;
}

.product__card__link {
  text-decoration: none;
}

.product__card__image {
  display: block;
  max-width: 236px;
  max-height: 187px;
  margin: 0 auto 30px auto;
}

.product__card__price {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 6px;
  color: #1a1a1a;
}

.product__card__wight {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 2px;
  color: #7b8e98;
}

.product__card__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 46px;
  color: #1a1a1a;
}

.product__card__btn {
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 40px;
  background: #ffe44d;
  border-radius: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  padding-bottom: 2px;
}
