.header
  width: 100vw
  height: 80px
  background-color: #ffe44d
  &__icons
    display: flex
    align-items: center
    gap: 40px
    margin-left: 20px

.container
  height: 100%
  padding-left: 224px
  padding-right: 224px
  display: flex
  align-items: center
  justify-content: space-between
